@import './constants';

.app {
  &-root {
    flex-direction: column;

    .content-root {
      background-color: $white;
      border-radius: $border-radius;
      margin: $item-separation $external-border-padding;
      padding: $internal-padding;
    }
  }
}