@import './constants';

.app {
  &-root {
    flex-direction: column;

    .breadcrumbs-root {
      padding: $item-separation $external-border-padding 0 $external-border-padding;
      margin-top: 64px;
      font-size: $small-font;
      color: $ml-light-grey;
    }

    .content-root {
      background-color: $white;
      border-radius: $border-radius;
      margin: $base-padding $external-border-padding;
      padding: $base-padding $large-padding;
    }
  }
}