$ml-yellow: #FFE600;
$ml-dark-grey: #333333;
$ml-grey: #666666;
$ml-light-grey: #999999;
$ml-lighter-grey: #EEEEEE;
$ml-blue: dodgerblue;
$white: #FFFFFF;

$toolbar-item-height: 40px;
$toolbar-padding: 12px;
$external-border-padding: 50px;
$internal-padding: 16px;
$icon-height: 16px;
$item-separation: 16px;
$thumbnail-height: 120px;
$base-padding: 16px;

$small-font: 12px;

$button-padding: 8px;

$border-radius: 4px;