$ml-yellow: #FFE600;
$ml-dark-grey: #333333;
$ml-grey: #666666;
$ml-light-grey: #999999;
$ml-lighter-grey: #EEEEEE;
$ml-blue: #3483FA;
$white: #FFFFFF;

$toolbar-item-height: 40px;
$toolbar-padding: 12px;
$external-border-padding: 100px;
$internal-padding: 16px;
$icon-height: 16px;
$item-separation: 16px;
$picture-height: 120px;
$base-padding: 16px;
$large-padding: 32px;

$x-small-font: 12px;
$small-font: 14px;
$medium-font: 16px;
$large-font: 24px;
$x-large-font: 28px;
$xx-large-font: 46px;

$button-padding: 8px;

$border-radius: 4px;