@import './constants';

.results {
  &-root {
    flex-direction: column;

    .search-element {
      border-bottom: 1px solid $ml-lighter-grey;
      padding-bottom: $internal-padding;
      margin-bottom: $internal-padding;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
    }
  }
}