@import './constants';

.results {
  &-root {
    flex-direction: column;

    .search-element {
      border-bottom: 1px solid $ml-lighter-grey;
      padding-bottom: $internal-padding;
      margin-bottom: $internal-padding;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .attribs {
        flex-direction: column;
        flex-grow: 3;
        flex-shrink: 0;
        .price {
          font-size: $large-font;
          .free-shipping {
            height: $icon-height;
            padding-left: 5px;
          }
        }
      }

      .city {
        font-size: $x-small-font;
        color: $ml-light-grey;
      }

      .thumb {
        padding: 0 $base-padding;
        height: $picture-height;
      }
    }
  }
}