@import './constants';

.searchbar {
  &-root {
    background-color: $ml-yellow;
    padding: $toolbar-padding 0;
    justify-content: center;
  }

  &-container {
    padding: 0 50px;
    .logo {
      flex: 0 1;
      height: $toolbar-item-height;
      justify-content: center;
    }
    .search-box {
      flex: 1 1;
      height: $toolbar-item-height;

      .icon {
        height: $icon-height;
      }

      > input {
        border: none;
        border-radius: $border-radius 0 0 $border-radius;
        flex-grow: 1;
        &::placeholder {
          padding-left: $toolbar-padding;
        }
      }

      > button {
        align-items: center;
        border: none;
        border-radius: 0 $border-radius $border-radius 0;
        display: flex;
        justify-content: center;
        width: $toolbar-item-height;
      }
    }
  }
}